.productCart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  
    .productCart {
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #f5f5f5;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  
      &-body {
        flex-basis: 50%;
      }
  
      &-total {
        flex-basis: 20%;
        background-color: #e9e9e9;
        border-radius: 0.25rem;
      }
  
      &-buttons {
        flex-basis: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
  
        &-operators {
          display: flex;
          align-items: center;
          gap: 1rem;
  
          span {
            border: 1px solid lightgrey;
            border-radius: 0.5rem;
            padding: 0.5rem;
          }
        }
      }
  
      &:hover {
        transform: scale(1.05);
      }
    }
  
    .cartTotal {
      padding: 1rem;
  
      &-total {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  
    .cart-btn {
      width: 50%;
      align-self: center;
      border: none;
      border-radius: 0.25rem;
      margin: 0.75rem 0;
      background-color: #030301;
      color: white;
      cursor: pointer;
      padding: 1rem;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #512de8;
      }
    }
  
    @media screen and (max-width: 768px) {
      .productCart {
        flex-direction: column;
      }
      .productCart-body,
      .productCart-total,
      .productCart-buttons {
        flex-basis: 100%;
      }
    }
  }
  