<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form *ngIf="mostrarLogin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3 style="color: #fff;">Momotaro</h3>

        <label for="username" style="color: #fff;">Usuario</label>
        <input formControlName="email" [class.is-invalid]="f.email.errors && f.email.touched" type="email" placeholder="Correo electronico" id="email">
        <div class="invalid-feedback">
            El campo email es obligatorio
        </div>
        <label for="password" style="color: #fff;">Contraseña</label>
        <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched" type="password" placeholder="Contraseña" id="password">
        <div class="invalid-feedback">
            El campo contraseña es obligatorio
        </div>

        <button type="submit">Ingresar</button>

        <p style="color: #fff;" (click)="mostrarRegistro = true; mostrarLogin = false">¿No eres miembro? Registrarse</p>
    </form>

    <form *ngIf="mostrarRegistro" [formGroup]="registroForm" (ngSubmit)="onSubmitRegistro()">
        <!-- Sección de registro -->
        <h3 style="color: #fff;">Momotaro</h3>
        
        <label for="username" style="color: #fff;">Nombre</label>
        <input formControlName="nombre" [class.is-invalid]="r.nombre.errors && r.nombre.touched" type="text" placeholder="Nombre de Usuario" id="nombre">
        <div class="invalid-feedback">
            El campo nombre es obligatorio
        </div>
        <label for="username" style="color: #fff;">Usuario</label>
        <input formControlName="email" [class.is-invalid]="r.email.errors && r.email.touched" type="email" placeholder="Correo electronico" id="email">
        <div class="invalid-feedback">
            El campo email es obligatorio
        </div>
        <label for="password" style="color: #fff;">Contraseña</label>
        <input formControlName="password" [class.is-invalid]="r.password.errors && r.password.touched" type="password" placeholder="Contraseña" id="password">
        <div class="invalid-feedback">
            El campo contraseña es obligatorio
        </div>
        <label for="direccion" style="color: #fff;">Direccion</label>
        <input formControlName="direccion" [class.is-invalid]="r.direccion.errors && r.direccion.touched" type="text" placeholder="Direccion" id="direccion">
        <div class="invalid-feedback">
            El campo direccion es obligatorio
        </div>
      
        <button type="submit">Registrarse</button>
      
        <p style="color: #fff;" (click)="mostrarRegistro = false; mostrarLogin = true">Soy miembro</p>
    </form>
</body>
</html>
