<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3>Momotaro</h3>

        <label for="username">Usuario</label>
        <input formControlName="email" [class.is-invalid]="f.email.errors && f.email.touched" type="email" placeholder="Correo electronico" id="email">
        <div class="invalid-feedback">
            El campo email es obligatorio
        </div>
        <label for="password">Contraseña</label>
        <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched" type="password" placeholder="Contraseña" id="password">
        <div class="invalid-feedback">
            El campo contraseña es obligatorio
        </div>

        <button type="submit">Ingresar</button>

        <p>¿No eres miembro? Registrarse</p>
    </form>
</body>
</html>
