body {
    font-family: "Open Sans", sans-serif;
    background: #fff;
    color: #fff;
  }


.headerDash{
    background: #fff;
}
.responsive {
    width: 10%;
    height: auto;
    margin-right: 5%;
    margin-left: 5%;
  }