<div class="modal-header bg-transparent">
    <h5 class="mb-1" id="cardTitle"> {{titulo}} Reserva</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="activeModal.close({estado:false})"></button>
</div>
<div class="modal-body px-sm-5 mx-50 pb-5">

    <form [formGroup]="myForm" class="form form-horizontal"  novalidate autocomplete="off">
        <div class="row">
            
            <div class="col-12 col-md-12 form-group mb-1" *ngIf="!editarModo">
                <label for="nombreProceso" class="form-label-home text-encuesta fw-bold mb-2">Mesa</label>
                <select class="form-select" id="estadoSelect" formControlName="mesaId" >
                    <option *ngFor="let opcion of opcionesSelect" [value]="opcion.id_mesa">
                        Sector: {{ opcion.sector }} - Capacidad: {{ opcion.capacidad }}
                    </option>
                </select>
            </div>
            <div class="col-12 col-md-12 form-group mb-1">
                <label for="fecha" class="form-label-home text-encuesta fw-bold mb-2">Fecha</label>
                <input class="form-control"formControlName="fecha"  type="date" required placeholder="Fecha">

            </div>
            <div class="col-12 col-md-12 form-group mb-1">
                <label for="hora" class="form-label-home text-encuesta fw-bold mb-2">Hora</label>
                <input class="form-control" formControlName="hora" type="time" required placeholder="hora">
            </div>            
            <div class="col-12 col-md-12 form-group mb-1">
                <label for="mensaje" class="form-label-home text-encuesta fw-bold mb-2">Mensaje</label>
                <input class="form-control" formControlName="mensaje" type="text" placeholder="Mensaje">
            </div>

        </div>
        <div class="row">
            <div class="col-12 text-end mt-md-3 mt-1">
                <a *ngIf="!reserva" class="mt-2 btn btn-primary mx-1" (click)="guardarReserva()">Agregar</a>
                <a *ngIf="reserva" class="mt-2 btn btn-primary mx-1" (click)="editarReserva()">Editar</a>
                <a (click)="activeModal.close({estado:false})" class="mt-2 btn btn-secondary mx-1">Cancelar</a>
            </div>
        </div>

    </form>
</div>
